.product-details{
    box-shadow: 10px 0px 40px 4px rgb(0 0 0 / 35%);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 525px;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.producto__footer{
    padding: 1rem;
}
.producto__footer h1{
    font-weight: 600;
    font-size: 16px;
    color: #1a202c;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.producto__footer p{
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin: 3px;
    padding: 3px;
}

